.coveo-recent-searches-header {
  padding: 10px 20px;
  background: #f7f8f9;
  clear: both;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.CoveoRecentSearches {
  margin: 10px 0px 10px 0px;
  padding: 0;
  border: thin solid #bcc3ca;
  border-radius: 2px;
  background: white;
  position: relative;
}